<div>
    <h2>Step 4</h2>
    <h4>Have you successfully deployed the add-in?</h4>
    <div>
        <a href="#/step/1" class="btn btn-success" style="margin: 10px 60px 10px 0;"><span class="glyphicon glyphicon-plus"></span>Yes, everything is fine.</a>
        <a href="#/step/1" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span>No, take me to support page!</a>
    </div>
    <div class="text-right">
        <a href="#/step/1" class="btn btn-default">Cancel</a>
    </div>
</div>
